h3:first-child { color:  red; }       
h3:nth-child(3) { color: orange; }     
h3:nth-child(5) { color: yellow; }    
h3:nth-child(7) { color: lightgreen; }  
h3:nth-child(9) { color: lightblue; }   